<html layout:decorate="~{/question/layout}">
<div layout:fragment="content" class="container my-3">
<h1>/question/list.html</h1>

<table class="table">
 <thead class="table-dark">
  <tr>
   <th>번호</th>
   <th>인덱스</th>
   <th>제목</th>
   <th>작성일</th>
   <th>첫 번째 항목 여부</th>
  </tr>
 </thead>
 <tbody>
  <tr th:each="question, loop : ${questionList}">
  
    <td th:text="${loop.count}"></td>
    <td th:text="${loop.index}"></td> <!-- 인덱스 출력 -->
    <!-- <td th:text="${question.subject}"></td> --> <!-- 질문 제목 -->
    <td>
    <!--  <a href="/question/detail/${question.id}" th:text="${question.subject}" ></a> -->
     <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}" ></a>
     
    </td>
    <!-- <td th:text="${question.createDate}"></td> --> <!-- 생성 날짜 -->
    <!--   #temporals.format() -->
    <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></td>
    <td th:text="${loop.first} ? 'Yes' : 'No'"></td> <!-- 첫 번째 항목 여부 -->
    
  <!-- <td>[[${question.createDate}]]</td> -->
  
  </tr>
 </tbody>
 
 	<a th:href="@{/question/create}"  class="btn btn-primary">질문 등록</a>
 
</table>
</div>
</html>